<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Support.ContentSearch.Pipelines.RunContentSearchQueryWarmup, Sitecore.Support.172820" />
      </initialize>
    </pipelines>      
    <hooks>
      <hook type="Sitecore.Support.ContentSearch.Hooks.Initializer, Sitecore.Support.172820" patch:i="*[@type='Sitecore.ContentSearch.Hooks.Initializer, Sitecore.ContentSearch']" />
    </hooks>
  </sitecore>
</configuration>